{{define "main"}}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.PageTitle}} - {{.PageDesc}}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{.BaseUrl}}css/style.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/theme/dist/css/theme.min.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/theme/dist/css/skins/skin-red.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/datatables/media/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/PACE/themes/yellow/pace-theme-loading-bar.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/blueimp-file-upload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/css-spinners/css/spinner/dots.css">
</head>

<body class="hold-transition skin-red sidebar-mini">
	<div class="wrapper">

		{{template "header" .}}
		
		{{template "menubar" .}}

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<app-view>Loading...</app-view>
		</div>
		<!-- /.content-wrapper -->
		
		{{template "footer" .}}
		
		{{template "sidebar" .}}
	</div>

	<script src="{{.BaseUrl}}dist/bundle.js"></script>
	<script src="{{.BaseUrl}}vendors/jquery/dist/jquery.min.js"></script>
	<script src="{{.BaseUrl}}vendors/theme/dist/js/app.js"></script>
	<script src="{{.BaseUrl}}vendors/PACE/pace.js"></script>

</body>

</html>

{{end}}