{{define "main"}}<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{.PageTitle}} - {{.PageDesc}}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/theme/dist/css/theme.min.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/theme/dist/css/skins/skin-red.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/datatables/media/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/PACE/themes/white/pace-theme-minimal.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/blueimp-file-upload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/css-spinners/css/spinner/dots.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/dropzone/dist/dropzone.css">
	<link rel="stylesheet" href="{{.BaseUrl}}vendors/selectize/dist/css/selectize.bootstrap3.css">
	<link rel="stylesheet" href="{{.BaseUrl}}css/style.css">
</head>

<body class="hold-transition skin-red sidebar-mini">
	<div class="wrapper">
		{{template "header" .}}
		{{template "menubar" .}}
		<div class="content-wrapper">
			<app-view><div class="spinner text-center"><div class="dots-loader">Loading…</div></div></app-view>
		</div>
		{{template "footer" .}}
		{{template "sidebar" .}}
	</div>

	<script src="{{.BaseUrl}}vendors/jquery/dist/jquery.min.js"></script>
	<script src="{{.BaseUrl}}vendors/selectize/dist/js/standalone/selectize.js"></script>
	<script src="{{.BaseUrl}}vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{.BaseUrl}}vendors/datatables/media/js/jquery.dataTables.js"></script>
	<script src="{{.BaseUrl}}vendors/datatables/media/js/dataTables.bootstrap.js"></script>
	<script src="{{.BaseUrl}}js/jquery.serializeObject.js"></script>
	<script src="{{.BaseUrl}}vendors/theme/dist/js/app.js"></script>
	<script src="{{.BaseUrl}}vendors/PACE/pace.js"></script>
	<script src="{{.BaseUrl}}vendors/dropzone/dist/dropzone.js"></script>
	<script src="{{.BaseUrl}}vendors/cropit/dist/jquery.cropit.js"></script>
	<script src="{{.BaseUrl}}dist/bundle.js"></script>
	
</body>

</html>{{end}}